<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js'></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" integrity="sha256-rMOSOM5HDzVEMoVZTv2189+RKSTSgY5ZKfTfap7q2zE=" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav id="nav-bar">
    <a href="/">Home page</a>
    <a href="/logout">Logout</a>
    <section id="shuffleAnimation"></section>
    <script id="shuffleAnim" type="text/x-handlebars-template">
      <div class="hold">
        <div class="inside">
        {{#times 16}}
          <div class="cards"></div>
        {{/times}}
        </div>
        <div class="inside what">
        {{#times 16}}
          <div class="cards"></div>
        {{/times}}
        </div>
      </div>
    </script>

    <section class="hand" id='hand-container'></section>
      <script id="handTemp" type="text/x-handlebars-template">
      <section id="opponent-position" class="opponent-hand">
        {{#times opponent_hand}}
        <div class="opponent-cards"></div>
        {{/times}}
      </section>
       <section class="deck">DECK</section>
       <section id="discard">DISCARD</section>
      {{#each hand}}
        <span>{{this}}</span>
        <span class="card-front" data-rank-idx="{{this.[0]}}" data-suit-idx="{{this.[1]}}"></span>
        {{/each}}
    <div class="start-turn">
      <button class='play start draw'>Draw from deck</button>
      <button class='play start takeTop'>Draw top discard</button>
      <button class='play start takeAll'>Take all discard</button>
    </div>
    <div class="mid-turn">
      <button class='play mid discard'>Discard and end turn</button>
      <button class='cool play mid dropSet'>Drop matching set</button>
      <button class='cool play mid attachOne'>Attach card to drop pile</button>
    </div>
    </script>
    <script type="text/javascript" src="/scripts/game.js"></script>
  </body>
</html>