<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main2.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js'></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" integrity="sha256-rMOSOM5HDzVEMoVZTv2189+RKSTSgY5ZKfTfap7q2zE=" crossorigin="anonymous"></script>

  </head>
  <body>
    <button class='play start draw'>Draw from deck</button>
    <button class='play start takeTop'>Draw top discard</button>
    <button class='play start takeAll'>Take all discard</button>
    <button class='play mid discard'>Discard and end turn</button>
    <button class='play mid dropSet'>Drop matching set</button>
    <button class='play mid attachOne'>Attach card to drop pile</button>
    <a href="/">Home page</a>
    <a href="/logout">Logout</a>

    <section class="hand" id='hand-container'>
      <script id=“handTemp” type=“text/x-handlebars-template”>
      <section id="opponent-position">
        <div class="opponent-hand">
        {{#times opponent_hand}}
        <div class="opponent-cards"></div>
        {{/times}}
        </div>
      </section>
      {{#each hand}}
        <span class="card-front" data-rank-idx="{{this.rank}}" data-suit-idx="{{this.suit}}"></span>
        {{/each}}
      </section>
    </script>
  <script type="text/javascript" src="/scripts/game.js"></script>
  </body>
</html>