<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  </head>
  <body>
    <section class="player-hand">
      <span class="card-front" data-rank-idx="2" data-suit-idx="2"> </span>
      <span class="card-front" data-rank-idx="10" data-suit-idx="0"> </span>
      <span class="card-front" data-rank-idx="4" data-suit-idx="2"> </span>
      <span class="card-front" data-rank-idx="3" data-suit-idx="1"> </span>
      <span class="card-front" data-rank-idx="2" data-suit-idx="2"> </span>
      <span class="card-front" data-rank-idx="5" data-suit-idx="1"> </span>
    </section>
  </body>
</html>
