<!doctype html>

<head>
  <meta encoding="utf8">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.emit('add user', 'player2');
</script>


</head>

<body>
  <header>
  alskdjflkasjdlkfajs
  </header>
</body>
