<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" integrity="sha256-rMOSOM5HDzVEMoVZTv2189+RKSTSgY5ZKfTfap7q2zE=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <!--<section class="deck">DECK</section>-->
    <section id="opponent-position" class="opponent-hand">
      <div class="opponent-cards"></div>
    </section>
    <section class="hand" id='hand-container'>
    <script id="hand-template" type="text/x-handlebars-template">
     {{#each userhand}}
        <span class="card-front" data-rank-idx="{{this.[0]}}" data-suit-idx="{{this.[1]}}"> </span>
        {{/each}}
     </section>
    </script>
  </body>
</html>