<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ACEs</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" integrity="sha256-rMOSOM5HDzVEMoVZTv2189+RKSTSgY5ZKfTfap7q2zE=" crossorigin="anonymous"></script>

  </head>

  <body>
    <% if(username){ %>
      <h1>Hello <%= username %>!</h1>
    <% } %>
    <a href="/login/1">USER 1</a>
    <a href="/login/2">USER 2</a>
    <a href="/logout">logout</a>
    <section id='hand-container'>
      <div id='container' style='height: 800px'>
        <% for (let game in games) {  %>
           <a href="/game"><button><%= games[game].name %></button></a>
        <% } %>
      </div>
    </section>
  </body>
</html>
