<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gin Rummy</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" integrity="sha256-rMOSOM5HDzVEMoVZTv2189+RKSTSgY5ZKfTfap7q2zE=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <section id='hand-container'>

    </section>
    <script id="hand-template" type="text/x-handlebars-template">
    </script>
    <audio  autoplay>
    <source src="http://soundbible.com/mp3/Shuffling Cards-SoundBible.com-1921026632.mp3" type="audio/mp3" />
    </audio>
    <div class="hold">
      <div class="inside">
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
      </div>
     <div class="inside what">
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
        <div class="cards"></div>
     </div>
    </div>
  </body>
</html>