@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Wellfleet';
body {
  background-color: green;
}

.mid-turn {
  position: absolute;
  right: 0;
  margin-right: 4em;
  display: flex;
  flex-direction: column;
}

.start-turn {
  position: absolute;
  right: 0;
  margin-right: 13em;
  display: flex;
  flex-direction: column;
}

.play {
  margin-bottom: .6em;
}

.cool {
  position: relative;
  top: 20%;
  left: 30%;
  display: block;
  width: 5em;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 10%;
  background: #5a99d4;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  animation: pulse 1.5s infinite;
}

.cool:hover {
  animation: none;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.card-front {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 5.12em;
  height: 7.93em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
  overflow: hidden;
}

.card-front .card-front:before, .card-front .card-front:after {
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='1']::after {
  content: "A";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='2']::after {
  content: "2";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='3']::after {
  content: "3";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='4']::after {
  content: "4";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='5']::after {
  content: "5";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='6']::after {
  content: "6";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='7']::after {
  content: "7";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='8']::after {
  content: "8";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='9']::after {
  content: "9";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='10']::after {
  content: "10";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='11']::after {
  content: "J";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='12']::after {
  content: "Q";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='13']::after {
  content: "K";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front.card-front:hover {
  box-shadow: 0 0 .5em .25em #FFFF00, inset 0 0 .5em .25em #FFFF10;
  cursor: pointer;
  top: -10px;
}

#nav-bar {
  background-color: #00a087;
  width: 100%;
  z-index: 2;
}

#all {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 200px;
}

.shuffle {
  position: absolute;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

#card1 {
  z-index: 1;
  animation: moving1 .50s 0.5s infinite;
}

#card2 {
  animation: b .5s 0.5s infinite;
}

#text {
  position: absolute;
  top: 210px;
  text-align: center;
  z-index: 5;
  width: 150px;
  color: black;
  animation: textup 2s infinite;
}

@keyframes moving1 {
  0% {
  }
  30% {
    transform: translateX(205px) rotate(70deg) rotateY(80deg);
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes moving2 {
  0% {
  }
  100% {
    z-index: 2;
  }
}

@keyframes textup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hold {
  position: absolute;
  display: block;
  width: 450px;
  height: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inside {
  margin: 0;
  position: absolute;
}

.cards {
  position: absolute;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  animation: idk2 1.2s ease infinite;
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
  background-color: red;
}

.what .cards {
  animation: idk2 1.2s ease infinite;
  animation-direction: reverse;
}

.cards:nth-child(2) {
  left: 80px;
  animation-delay: .25s;
}

.cards:nth-child(3) {
  left: 80px;
  top: 80px;
  animation-delay: .5s;
}

.cards:nth-child(4) {
  top: 80px;
  animation-delay: .75s;
}

.cards:nth-child(5) {
  top: 80px;
  animation-delay: 1s;
}

.cards:nth-child(6) {
  top: 80px;
  animation-delay: 1.25s;
}

.cards:nth-child(7) {
  top: 80px;
  animation-delay: 1.5s;
}

.cards:nth-child(8) {
  left: 80px;
  top: 80px;
  animation-delay: .25s;
}

.cards:nth-child(9) {
  left: 80px;
  animation-delay: .5s;
}

.cards:nth-child(10) {
  left: 80px;
  top: 80px;
  animation-delay: .75s;
}

.cards:nth-child(11) {
  top: 80px;
  animation-delay: 1s;
}

.cards:nth-child(12) {
  left: 80px;
  top: 80px;
  animation-delay: 1.25s;
}

.cards:nth-child(13) {
  bottom: 80px;
  top: 80px;
  animation-delay: 1.5s;
}

.cards:nth-child(14) {
  left: 80px;
  top: 80px;
  animation-delay: 1.75s;
}

.cards:nth-child(15) {
  top: 80px;
  bottom: 80px;
  animation-delay: 2s;
}

@keyframes idk {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50px) rotate(90deg);
  }
  50% {
    transform: translateX(50px) translateY(50px) rotate(0);
  }
  75% {
    transform: translateX(0) translateY(50px) rotate(90deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes idk2 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(150px) rotate(90deg);
  }
  50% {
    transform: translateX(150px) translateY(150px) rotate(0);
  }
  75% {
    transform: translateX(0) translateY(150px) rotate(90deg);
  }
  100% {
    transform: translateX(0);
  }
}

#hand-container .card-front + .card-front {
  margin-left: -3em;
}

.hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#opponent-position {
  position: absolute;
  top: 0;
  margin-top: 2em;
}

#opponent-position .opponent-cards + .opponent-cards {
  margin-left: -3em;
}

.opponent-cards {
  margin-right: 10px;
  position: relative;
  float: left;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.deck {
  bottom: 45%;
  left: 45%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.deck3 {
  bottom: 45.5%;
  left: 45%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.deck2 {
  bottom: 45.7%;
  left: 45.32%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.dropPile {
  position: relative;
  z-index: 2;
}

.dropPile .card-front {
  position: absolute;
  transition: transform 1s;
  left: 50px;
  transform-origin: 50% 100%;
}

.dropPile:hover .card-front:nth-child(1) {
  transform: translate(0px) rotate(-5deg);
}

.dropPile:hover .card-front:nth-child(2) {
  transform: translate(15px) rotate(5deg);
}

.dropPile:hover .card-front:nth-child(3) {
  transform: translate(30px) rotate(15deg);
}

.dropPile:hover .card-front:nth-child(4) {
  transform: translate(45px) rotate(25deg);
}

.dropPile .card-front:hover {
  box-shadow: 0 0 .5em .25em crimson, inset 0 0 .5em .25em tomato;
  cursor: unset;
}

.waiting {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16em;
  z-index: 3;
  width: 150px;
  color: black;
  animation: textup 2s infinite;
}

@keyframes textup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.inner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bg-pattern {
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}
