@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Wellfleet';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  background-image: url("https://i.stack.imgur.com/q02th.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card-front {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 5.12em;
  height: 7.93em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
  overflow: hidden;
}

.card-front .card-front:before, .card-front .card-front:after {
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='1']::after {
  content: "A";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='2']::after {
  content: "2";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='3']::after {
  content: "3";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='4']::after {
  content: "4";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='5']::after {
  content: "5";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='6']::after {
  content: "6";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='7']::after {
  content: "7";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='8']::after {
  content: "8";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='9']::after {
  content: "9";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='10']::after {
  content: "10";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='11']::after {
  content: "J";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='12']::after {
  content: "Q";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='0']::before {
  content: "♦";
  background-color: #FF0654;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='1']::before {
  content: "♣";
  background-color: #808080;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='2']::before {
  content: "♥";
  background-color: #ff0000;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-suit-idx='3']::before {
  content: "♠";
  background-color: #666;
  color: #FFF;
  font-size: 8.6em;
  display: block;
  position: absolute;
}

.card-front[data-rank-idx='13']::after {
  content: "K";
  font-size: 1.8em;
  font-family: 'Wellfleet', cursive;
  color: white;
  padding-left: 0.2em;
  display: block;
  position: absolute;
}

.card-front.card-front:hover {
  box-shadow: 0 0 .5em .25em #FFFF00, inset 0 0 .5em .25em #FFFF10;
  cursor: pointer;
  top: -10px;
}

#nav-bar {
  background-color: grey;
  width: 100%;
  z-index: 2;
  height: 3.4em;
}

#all {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 200px;
}

.shuffle {
  position: absolute;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

#card1 {
  z-index: 1;
  animation: moving1 .50s 0.5s infinite;
}

#card2 {
  animation: b .5s 0.5s infinite;
}

#text {
  position: absolute;
  top: 210px;
  text-align: center;
  z-index: 5;
  width: 150px;
  color: black;
  animation: textup 2s infinite;
}

@keyframes moving1 {
  0% {
  }
  30% {
    transform: translateX(205px) rotate(70deg) rotateY(80deg);
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes moving2 {
  0% {
  }
  100% {
    z-index: 2;
  }
}

@keyframes textup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hold {
  position: absolute;
  display: block;
  width: 450px;
  height: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inside {
  margin: 0;
  position: absolute;
}

.cards {
  position: absolute;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  animation: idk2 1.2s ease infinite;
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
  background-color: red;
}

.what .cards {
  animation: idk2 1.2s ease infinite;
  animation-direction: reverse;
}

.cards:nth-child(2) {
  left: 80px;
  animation-delay: .25s;
}

.cards:nth-child(3) {
  left: 80px;
  top: 80px;
  animation-delay: .5s;
}

.cards:nth-child(4) {
  top: 80px;
  animation-delay: .75s;
}

.cards:nth-child(5) {
  top: 80px;
  animation-delay: 1s;
}

.cards:nth-child(6) {
  top: 80px;
  animation-delay: 1.25s;
}

.cards:nth-child(7) {
  top: 80px;
  animation-delay: 1.5s;
}

.cards:nth-child(8) {
  left: 80px;
  top: 80px;
  animation-delay: .25s;
}

.cards:nth-child(9) {
  left: 80px;
  animation-delay: .5s;
}

.cards:nth-child(10) {
  left: 80px;
  top: 80px;
  animation-delay: .75s;
}

.cards:nth-child(11) {
  top: 80px;
  animation-delay: 1s;
}

.cards:nth-child(12) {
  left: 80px;
  top: 80px;
  animation-delay: 1.25s;
}

.cards:nth-child(13) {
  bottom: 80px;
  top: 80px;
  animation-delay: 1.5s;
}

.cards:nth-child(14) {
  left: 80px;
  top: 80px;
  animation-delay: 1.75s;
}

.cards:nth-child(15) {
  top: 80px;
  bottom: 80px;
  animation-delay: 2s;
}

@keyframes idk {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50px) rotate(90deg);
  }
  50% {
    transform: translateX(50px) translateY(50px) rotate(0);
  }
  75% {
    transform: translateX(0) translateY(50px) rotate(90deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes idk2 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(150px) rotate(90deg);
  }
  50% {
    transform: translateX(150px) translateY(150px) rotate(0);
  }
  75% {
    transform: translateX(0) translateY(150px) rotate(90deg);
  }
  100% {
    transform: translateX(0);
  }
}

.player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.player .card-front + .card-front {
  margin-left: -3em;
}

.handTemp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#opponent-position {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: .5em;
}

#opponent-position .opponent-cards + .opponent-cards {
  margin-left: -3em;
}

.opponent-cards {
  margin-right: 10px;
  position: relative;
  float: left;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.deck {
  bottom: 45%;
  left: 45%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.deck3 {
  bottom: 45.5%;
  left: 45%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.deck2 {
  bottom: 45.7%;
  left: 45.32%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

.waiting {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30em;
  font-size: x-large;
  z-index: 3;
  width: 150px;
  color: black;
  animation: textup 2s infinite;
}

@keyframes textup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.inner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bg-pattern {
  background: url("https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png");
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
  -moz-box-shadow: 0px 0px 5px 1px black;
  box-shadow: 0px 0px 5px 1px black;
}

#discard {
  bottom: 45%;
  left: 52%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  background-size: 6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 5px;
}

.dropPile {
  position: relative;
  z-index: 3;
  padding-top: 5em;
  right: 6em;
  width: 750;
}

.dropPile .card-front {
  position: absolute;
  transition: transform 1s;
  left: 50px;
  transform-origin: 50% 100%;
}

.dropPile:hover .card-front:nth-child(1) {
  transform: translate(5px) rotate(-4deg);
}

.dropPile:hover .card-front:nth-child(2) {
  transform: translate(20px) rotate(4deg);
}

.dropPile:hover .card-front:nth-child(3) {
  transform: translate(35px) rotate(12deg);
}

.dropPile:hover .card-front:nth-child(4) {
  transform: translate(50px) rotate(20deg);
}

.dropPile .card-front:hover {
  box-shadow: 0 0 .5em .25em crimson, inset 0 0 .5em .25em tomato;
  cursor: unset;
}

.card-set {
  position: relative;
  margin: 4.2em;
}

.buttons {
  position: absolute;
  right: 0;
  top: 10em;
  margin-right: 13em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.buttons2 {
  position: absolute;
  right: 0;
  top: 10em;
  margin-right: 6em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.play {
  margin-bottom: 1em;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.start-turn {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1em;
}

.mid-turn {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1em;
}

@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.cool {
  -webkit-animation: pulse 1.5s infinite;
}

.cool:hover {
  animation: none;
}

.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  letter-spacing: -.065em;
  font-family: "Hammersmith One", sans-serif;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
}

.round:hover {
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  font-size: 33px;
  padding-top: 38px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-size: 10px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
  cursor: pointer;
}

button.red {
  background-color: #ef3932;
  color: #85201c;
  border-color: rgba(133, 32, 28, 0.2);
}

button.red:hover {
  color: #ef3932;
}

button.blue {
  background-color: #0197ab;
  color: #003f47;
  border-color: rgba(0, 63, 71, 0.2);
}

button.blue:hover {
  color: #0197ab;
}

button.yellow {
  background-color: #fce301;
  color: #992600;
  border-color: rgba(153, 38, 0, 0.2);
}

button.yellow:hover {
  color: #fce301;
}

.round span.round {
  display: block;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
}

.round span:hover {
  opacity: .85;
  font-size: 16px;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.blue span {
  background: rgba(0, 63, 71, 0.7);
}

.red span {
  background: rgba(133, 32, 28, 0.7);
}

.yellow span {
  background: rgba(161, 145, 0, 0.7);
}
