.inner {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.bg-pattern {
  background:url('https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png');
  background-size:6em 7.25em;
	background-position: center;
  width: 5.12em;
  height: 7.93em;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
	// DISPLAY ONLY CHANGE on production
	//   &.card:hover {
  //   box-shadow: 0 0 .5em .25em springgreen, inset 0 0 .5em .25em palegreen;
  //   cursor: unset;
  //   top: -20px;
  // }
}