$black: #666 !default;
$red: crimson !default;
$white: #ffffff !default;
$ranks: 'A' '2' '3' '4' '5' '6' '7' '8' '9' '10' 'J' 'Q' 'K';
$suits: 
//Diamonds
(bg:$white, fg:$white, symbol:'\2666', empty: '\2662', idx: 0),
//Clubs
(bg:$white, fg:$white, symbol:'\2663', empty: '\2667', idx: 1),
//Hearts
(bg:$white, fg:$white, symbol:'\2665', empty: '\2661', idx: 2),
//Spades
(bg:$white, fg:$white, symbol:'\2660', empty: '\2664', idx: 3);


.card-front {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
    &.card:hover {
    box-shadow: 0 0 .5em .25em #FFFF00, inset 0 0 .5em .25em #FFFF10;
    cursor: pointer;
    top: -20px;
  }
  &::before {
    bottom: 0;
    right: .1em;
  }
  &::after {
    left:.2em;
  }
   @for $i from 1 through 13{
     $value: nth($ranks, $i);
    &[data-rank-idx='#{$i - 1}']::before {
      content: $value;
    } 
  }
  @each $suit-data in $suits {
    &[data-suit-idx='#{map-get($suit-data, 'idx')}']::after {
      content: map-get($suit-data, 'symbol')
    }
  }
}



    

// .card-front[data-rank-idx="0"]::before {
//   content: '1'
// }

// .card-front[data-suit-idx="0"]::after {
//   content: 'heart'
// }



// .card p {
//   text-align: center;
//   font: 100px/220px Georgia, Times New Roman, serif;
// }


// .suitdiamonds:before, .suitdiamonds:after {
//   content: "♦";
//   color: #ff0000;
// }
 
// .suithearts:before, .suithearts:after {
//   content: "♥";
//   color: #ff0000;
// }
 
// .suitclubs:before, .suitclubs:after {
//   content: "♣";
//   color: #000;
// }
 
// .suitspades:before, .suitspades:after {
//   content: "♠";
//   color: #000;
// }

// div[class*='suit']:before {
//   position: absolute;
//   font-size: 35px;
//   left: 5px;
//   top: 5px;
// }
 
// div[class*='suit']:after {
//   position: absolute;
//   font-size: 35px;
//   right: 5px;
//   bottom: 5px;
// }

// .hand {
//   margin: 50px;
// }

// //This is for display only, it can be moved

// .hand:before,
// .hand:after {
//     content:"";
//     display:table;
// }
 
// .hand:after {
//     clear:both;
// }