#discard {
	bottom: 45%;
	left: 52%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
  background: white;
  background-size:6em 7.25em;
	background-position: center;
  width: 5.12em;
  height: 7.93em;
	border-radius: 5px;
}