#hand-container {
  .card-front{
    +.card-front {
      margin-left: -3em;
    }
  }
}

.hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}