.hold {
  position: absolute;
  display: block;
  width: 450px;
  height: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.inside {
  margin: 0;
  position: absolute;
}

.cards {
  position: absolute;
  background:url('https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/807/s300/lighthouse-labs-logo-compressor.png');
  animation: idk2 1.2s ease infinite;
  background-size:6em 7.25em;
  background-position: center;
  width: 5.12em;
  height: 7.93em;
  border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
  background-color: red;
}

.what .cards {
  animation: idk2 1.2s ease infinite;
  animation-direction: reverse;
}

.cards:nth-child(2) {
  left: 80px;
  animation-delay: .25s;
}

.cards:nth-child(3) {
  left: 80px;
  top: 80px;
  animation-delay: .5s;
}

.cards:nth-child(4) {
  top: 80px;
  animation-delay: .75s;
}

.cards:nth-child(5) {
  top: 80px;
  animation-delay: 1s;
}

.cards:nth-child(6) {
  top: 80px;
  animation-delay: 1.25s;
}

.cards:nth-child(7) {
  top: 80px;
  animation-delay: 1.5s;
}

.cards:nth-child(8) {
  left: 80px;
  top: 80px;
  animation-delay: .25s;
}

.cards:nth-child(9) {
  left: 80px;
  animation-delay: .5s;
}

.cards:nth-child(10) {
  left: 80px;
  top: 80px;
  animation-delay: .75s;
}

.cards:nth-child(11) {
  top: 80px;
  animation-delay: 1s;
}

.cards:nth-child(12) {
  left: 80px;
  top: 80px;
  animation-delay: 1.25s;
}

.cards:nth-child(13) {
  bottom: 80px;
  top: 80px;
  animation-delay: 1.5s;
}

.cards:nth-child(14) {
  left: 80px;
  top: 80px;
  animation-delay: 1.75s;
}

.cards:nth-child(15) {
  top: 80px;
  bottom:80px;
  animation-delay: 2s;
}

@keyframes idk {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50px) rotate(90deg);
  }
  50% {
    transform: translateX(50px) translateY(50px) rotate(0);
  }
  75% {
    transform: translateX(0) translateY(50px) rotate(90deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes idk2 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(150px) rotate(90deg);
  }
  50% {
    transform: translateX(150px) translateY(150px) rotate(0);
  }
  75% {
    transform: translateX(0) translateY(150px) rotate(90deg);
  }
  100% {
    transform: translateX(0);
  }
}